body {
  background-color:rgb(132, 140, 121);
}

.custom-container {
  display:flex;
  flex-direction:column;
  align-items:flex-start;
  position:relative;
  margin:auto;
  margin-top:50px;
  width:300px;
  height:400px;
  padding:10px 5px;
  background-color:rgb(90, 108, 111);
  box-shadow:2px 2px 2px 2px #000;
  border-radius:0px 10px 0px 10px;
}

.custom-output {
  width:280px;
  height:60px;
  margin:auto;
  background-color:#c4cacc;
  color:#000;
  border-radius:10px;
  overflow:hidden;
  text-overflow:clip;
}

.clip { text-overflow:clip; }

.custom-buttons {
  display:flex;
  justify-content:space-around;
  flex-wrap:wrap;
  align-items:space-around;
  align-content:space-around;
  width:280px;
  margin:auto;
  padding:3px;
  height: 300px;
  background-color: rgb(90, 108, 111);
  border-top:1.5px double #9e461b;
  border-radius: 6px;
}

.btn-column {
  display:flex;
  flex-flow:column wrap;
  justify-content:space-around;
  align-items:space-around;
  height:300px;
}

.custom-btns {
  width: 60px;
  height: 40px;
  background-color:#525f63;
  color:#fafaca;
  border:none;
  box-shadow: 1px 1px 1px 1px #000;
  border-radius:3px;
  cursor: pointer;
}

.btn-add {
  height: 100px;
  width:60px;
  background-color:#525f63;
  color:#fafaca;
  border:none;
  box-shadow: 1px 1px 1px 1px #000;
  border-radius:3px;
  cursor: pointer;
}

.custom-btns:active, .btn-add:active {
    box-shadow: inset 1px 1px 1px 1px #000;
    outline: none !important;
}

.custom-btns:focus, .btn-add:focus {
    outline: none !important;
}

i {
  font-size:150%;
}

ul {
  list-style-type:none;
  padding:0;
  margin:0;
  text-align:right;
}

li.previous {
  margin:auto;
  width:250px;
  overflow:hidden;
  text-overflow:clip;
  word-break:break-all;
}

li.previous i {
  font-size:70%;
  font-weight:bold;
  padding:0;
  margin:0;
  margin-right:20px;


}

li.current {
  margin:auto;
  width:250px;
  overflow:hidden;
  text-overflow:clip;
  word-break:break-all;
}

li.current i {
  font-size:120%;
  font-weight:bold;
  padding:0;
  margin:0;
  margin-right:10px;
}

.back-red {
  background-color:#c84955;
  color:#cccccc;
}
